
.parent-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
  background-color: #f0f0f0; /* Optional: Add a background color */
}

.custom-card {
  width: 600px; /* Adjust width as needed */
  padding: 20px; /* Adjust padding as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Custom shadow */
}
.form-group{
    margin: 3rem 0rem 3rem 0rem;
}
